.App {
  text-align: center;
  margin:0px;
  background-color:rgba(0, 255, 255, 0.198);
  min-height:800px;
}
a{
  text-decoration: none;
  padding: 10px;
}
li{
  color:rgb(13, 100, 240);
  background-color:rgba(55, 219, 197, 0.637);
  display:flex;
  flex-flow: row;
  margin:0 5px 5px 0px;
  padding:5px;
  width: 100%;
}
.active{
  color:rgb(233, 10, 28);
}
.content {
  text-align: center;
  margin:200px auto;
  color: rgb(98, 94, 94);
  font-size:1.5rem;
}
.newList{
background-color:transparent;

}
.newList input,button{
  background-color:transparent;
  width:400px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newList input:focus{
  background-color: rgb(176, 213, 235);
  outline: none;
}